<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhr.cat">
    <!--开启悬浮窗的权限-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--连接网络权限，用于执行云端语音能力 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--外存储写权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--外存储读权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--配置权限，用来记录应用配置信息 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--手机定位信息，用来为语义等功能提供定位，提供更精准的服务-->
    <!--定位信息是敏感信息，可通过Setting.setLocationEnable(false)关闭定位请求 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--摄相头权限，拍照需要用到 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!--必须这个配置-->
    <!--   android:name=".APP"-->
    <!--android:hardwareAccelerated="false"-->
    <application
        android:largeHeap="true"
        android:name=".voice.iFlyTEK.APP"
        android:allowBackup="true"
        android:fitsSystemWindows="true"
        android:icon="@drawable/pic_ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="9667449" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="Y1tvDuofHGWOz0XuAYYyLprc" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="VFLG09OhjjMVHuBevD8rKvVcvh7qYEXR" />
        <!-- 请确认集成后的包名是否正确，本demo的包名是com.baidu.speech.recognizerdemo，在build.gradle文件中查看 -->
        <service
            android:name="com.baidu.speech.VoiceRecognitionService"
            android:exported="false" />
        <!-- 聊天界面 -->
        <activity
            android:name=".ui.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 引导界面 -->
        <activity
            android:name=".ui.GuideActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 设置界面 -->
        <activity
            android:name=".ui.SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait" />
        <service
            android:name=".services.MyService"
            android:enabled="true"
            android:exported="true" />
        <!-- 单元测试配置 -->
        <uses-library android:name="android.test.runner" />
    </application>
</manifest>